Στη Σύνοδο Κορυφής ο Μπάιντεν – Πρώτη επκοινωνία με Μητσοτάκη

Πρόσκληση -που έγινε δεκτή- προς τον Αμερικανό Πρόεδρο Τζο Μπάιντεν να συμμετάσχει στην τηλεδιάσκεψη της Συνόδου Κορυφής της Ευρωπαϊκής Ένωσης που ξεκινά την Πέμπτη απηύθυνε ο Πρόεδρος του Ευρωπαϊκού Συμβουλίου Σαρλ Μισέλ, σηματοδοτώντας με τον πιο συμβολικό τρόπο την πρόθεση της ΕΕ για μία νέα σελίδα στις σχέσεις της Ένωσης με τις ΗΠΑ.

Επιπλέον την Πέμπτη αναμένεται να υπάρξει και ιδιαίτερη επικοινωνία του Αμερικανού Προέδρου με τον Κυριάκο Μητσοτάκη, γεγονός που -πέραν της αμιγώς διπλωματικής- προσλαμβάνει και ιδιαίτερη συμβολική σημασία δεδομένης της ημέρας (25η Μαρτίου) που πρόκειται να συμβεί.

«Προσδοκώ να καλωσορίσω στη συνάντηση του Ευρωπαϊκού Συμβουλίου τον Πρόεδρο των ΗΠΑ.  Προσκάλεσα τον Πρόεδρο των ΗΠΑ να συμμετάσχει στη συνάντησή μας για να μοιραστεί τις απόψεις του για τη μελλοντική μας συνεργασία. 
Είναι ώρα να ξανακτίσουμε την διατλαντική μας συμμαχία», ανέφερε μέσω twitter o Σαρλ Μισέλ.

Tη συμμετοχή του Αμερικανού Προέδρου επιβεβαίωσε σχεδόν ταυτόχρονα ο Λευκός Οίκος με ανακοίνωσή του στην οποία αναφέρεται ότι ο Πρόεδρος Μπάιντεν «θα έχει συνεργασία με τους ηγέτες της Ε.Ε. σχετικά με την επιθυμία του να ανανεώσει τις σχέσεις ΕΕ – ΗΠΑ, να εργαστούν από κοινού για την αντιμετώπιση της πανδημίας και της κλιματικής αλλαγής και να εμβαθύνουν την, μεγαλύτερη παγκοσμίως, επενδυτική και εμπορική σχέση».

Ο κ. Μπάιντεν θα συζητήσει επίσης τα θέματα της Ρωσίας και της Κίνας, με τους ηγέτες των «27», οι οποίοι χαιρέτισαν την προεδρία του ως μία ευκαιρία για ενδυνάμωση των προτεραιοτήτων της Ε.Ε. στα ανθρώπινα δικαιώματα και την υπερθέρμανση του πλαν

Από το 2009

Η τελευταία φορά που Αμερικανός πρόεδρος συμμετείχε σε σύνοδο κορυφής της ΕΕ ήταν στις 5 Απριλίου 2009, επί προεδρίας του Δημοκρατικού Μπαράκ Ομπάμα. Ο Ρεπουμπλικάνος Τζορτζ Μπους ο νεότερος συμμετείχε επίσης στη σύνοδο που έγινε τον Ιούνιο του 2001 στο Γκέτεμποργκ της Σουηδίας.

Ο κ. Μπάιντεν αναμένεται να «συνδεθεί» με τους Ευρωπαίους ηγέτες στις 21.45 (ώρα Ελλάδας) της Πέμπτης.

Νέα σελίδα

Ο Πρόεδρος Μπάιντεν έχει τόσο προεκλογικά όσο και μετεκλογικά δώσει σαφές στίγμα των προθέσεών του για επαναπροσέγγιση ΗΠΑ – Ευρώπης, μετά τη δοκιμασία της περιόδου Τραμπ.

Είναι χαρακτηριστικό ότι μιλώντας στη Διάσκεψη Ασφαλείας του Μονάχου, στις 19 Φεβρουαρίου, ο Αμερικανός πρόεδρος δεσμεύτηκε για τέλος της «διπλωματίας των συναλλαγών» θέτοντας ως στόχο την επαναφορά των ΗΠΑ ως ομαδικού παίκτη σε διεθνές επίπεδο και απορρίπτοντας το νέο σκηνικό που είχαν επιβάλει οι επιλογές του προκατόχου του.

«Η Αμερική επέστρεψε», ήταν η χαρακτηριστική αποστροφή του (με σαφή αιχμή στο σύνθημα Τραμπ «Πρώτα η Αμερική»), σε εκείνη την ομιλία, στην οποία ανέφερε: «Οι συνεργασίες μας έχουν αντέξει και αναπτυχθεί με την πάροδο των ετών, επειδή βασίζονται στον πλούτο των κοινών μας δημοκρατικών αξιών. Δεν είναι συναλλαγές. Είναι χτισμένες πάνω σε ένα όραμα για το μέλλον όπου κάθε φωνή έχει σημασία».

Ξέρω πως τα τελευταία δοκίμασαν τις διατλαντικές μας σχέσεις. Αλλά οι ΗΠΑ είναι αποφασισμένες να επανασυνδεθούν με την Ευρώπη», είχε προσθέσει.

«Οι δημοκρατίες, και όχι ο αυταρχισμός προσφέρουν τον καλύτερο δρόμο για τον κόσμο, ανέφερε, ακόμη καταλήγοντας: 

«Πρέπει να αποδείξουμε ότι οι δημοκρατίες μπορούν ακόμα να προσφέρουν στους λαούς μας. Η δημοκρατία δεν “συμβαίνει τυχαία”.

Πρέπει να την υπερασπιστούμε. Να την ενισχύσουμε. Να την ανανεώσουμε. Πρέπει να αποδείξουμε ότι το μοντέλο μας δεν είναι “λείψανο” της ιστορίας μας».
