सिंधु जल संधि के अपने अधिकारों का उपयोग करता रहेगा भारत, दोनों देशों के आयुक्तों की हुई बैठक



नई दिल्ली, प्रेट्र। सिंधु जल संधि के तहत विभिन्न मुद्दों पर भारत और पाकिस्तान के बीच लगभग ढाई साल बाद मंगलवार को बातचीत शुरू हुई। दोनों देशों के सिंधु आयुक्तों के बीच हो रही है। भारत ने स्पष्ट कर दिया है कि वह इस संधि के तहत अपने अधिकारों का संपूर्ण उपयोग करता रहेगा। वहीं, पाकिस्तान को चिनाब नदी पर भारत के हाइड्रो पॉवर प्रोजेक्ट की डिजाइन को लेकर आपत्ति है। दो दिवसीय वार्ता में इन तमाम मुद्दों पर बातचीत होने की संभावना है।

नई दिल्ली में हो रही इस बैठक में भारतीय दल का नेतृत्व सिंधु आयुक्त पीके सक्सेना कर रहे हैं। उनके साथ सेंट्रल वाटर कमीशन, सेंट्रल इलेक्टि्रसिटी अथॉरिटी और नेशनल हाइड्रोइलेक्टि्रक पॉवर कॉरपोरेशन में उनके सलाहकार भी होंगे। जबकि, पाकिस्तानी प्रतिनिधिमंडल की अगुआई उसके सिंधु आयुक्त सैयद मुहम्मद मेहर अली शाह कर रहे हैं। बातचीत के लिए पाकिस्तानी प्रतिनिधिमंडल सोमवार की शाम ही दिल्ली पहुंच गया था।

भारत को पूरब की ओर बहने वाली सभी नदियों के जल का उपयोग करने का है अधिकार

दोनों देशों के बीच 1960 में हुए सिंधु जल संधि के तहत भारत को पूरब की ओर बहने वाली सभी नदियों के जल का उपयोग करने का अधिकार है, जिनकी वार्षिक क्षमता 33 मिलियन एकड़ फीट (एमएएफ) है। इनमें सतलुज, ब्यास और रावी नदी शामिल हैं। वहीं, पाकिस्तान को पश्चिम की तरफ बहने वाली सिंधु, झेलम और चिनाब के पानी के ज्यादातर हिस्से का इस्तेमाल करने का अधिकार है, जो वार्षिक करीब 135 एमएएफ है।

भारत चेनाब समेत विभिन्न नदियों पर लगा रहा है पॉवर प्रोजेक्ट 

संधि के तहत भारत को पश्चिम की तरफ यानी पाकिस्तान की तरफ बहने वाली नदियों पर कुछ मानदंडों के साथ हाइड्रो पॉवर प्रोजेक्ट लगाने का अधिकार दिया गया है। अपने इसी अधिकार के तहत भारत चेनाब समेत विभिन्न नदियों पर पॉवर प्रोजेक्ट लगा रहा है और इसकी जानकारी भी पाकिस्तान को दे दी है। पाकिस्तान चेनाब के प्रोजेक्ट की डिजाइन को लेकर सवाल उठा रहा है। परंतु, बातचीत से पहले सक्सेना ने कहा कि भारत संधि के तहत अपने अधिकारों के संर्पूण उपयोग को लेकर प्रतिबद्ध है और उम्मीद है कि बातचीत के जरिये सौहार्दपूर्ण तरीके से यह मुद्दा सुलझ जाएगा।

संधि के तहत प्रविधान है कि हर हाल में साल में कम से कम एक बार सिंधु जल आयोग की बैठक होगी। बारी-बारी से यह दोनों देशों में यह बैठक होती भी रही है, लेकिन अगस्त, 2019 में अनुच्छेद 370 को खत्म करने के बाद यह बैठक नहीं हुई। जबकि, पिछले साल कोरोना महामारी के चलते बैठक को रद किया गया था। हालांकि, पाकिस्तान ने अटारी संयुक्त चेक पोस्ट पर बैठक का प्रस्ताव रखा था, लेकिन भारत ने मना कर दिया था।




