NASA запустит на Марсе вертолет с историческим посланием

NASA сообщило о плане запуска на Марсе вертолета Ingenuity Mars - это произойдет после 8 апреля. Вертолет несет с собой кусочек истории: к кабелю под солнечной батареей прикреплен кусочек ткани от аэроплана братьев Райт, знаменитых конструкторов и авиаторов, совершивших первый управляемый полет с двигателем в 1903 году.

Вертолет был доставлен на Красную планету вместе с марсоходом Perseverance, он подключен к его источнику питания и находится под днищем.

Перед полетом будут произведены испытания - инженеры хотят понять, насколько надежен винт в реальных марсианских условиях. Для этого марсоход должен доехать до площадки размером 10 на 10 метров, которую в NASA посчитали наиболее пригодной для испытаний. Эта точка даже получила имя - ее назвали в честь сотрудника космического агентства Якоба ван Зила, который скончался в прошлом году.

План действий такой: марсоход "сгрузит" вертолет на ровную поверхность, и отъедет, чтобы сделать его фотографии. На это, с учетом медленного передвижения марсохода, уйдет около шести дней. Вертолет выпустит две опоры, затем включится электродвигатель. Он должен приподняться над марсианской поверхностью на пять дюймов - еще будучи соединенным с Perseverance кабелем. Затем эту "пуповину" перервут при помощи пиротехнического устройства, и Ingenuity надо будет зарядить свои солнечные батареи. Вертолету необходимо совершить несколько тестовых вращений винта и не засбоить в "морозные" марсианские ночи, когда температура падает до минус ста градусов Цельсия (для этого Ingenuity оборудован внутренними обогревателями).


На испытательные полеты вертолета отвели 31 день - в программу первого полета включает подъем на 10 футов и 30-секундное зависание перед приземлением.

Руководители программы готовили Ingenuity к полету шесть лет и теперь говорят о вертолете как о живом существе: "Главное - чтобы он выжил в одиночку, без марсохода, ведь его путешествие - это шаг в неизведанное и историю авиации".

Марсоход Perseverance отправился на Красную планету 30 июля 2020 года, приземление совершил 18 февраля 2021-го. Он оснащен семью высокоточными комплексами приборов, камерами, делающими цветное изображение, и микрофонами.

После испытаний вертолета марсоход начнет бурение дна кратера Езеро для сбора образцов пород, исследование которых может подтвердить или опровергнуть существование в прошлом жизни на Марсе. Однако эти образцы будут доставлены на Землю не ранее 2031 года.


