سعودی عرب میں سونے کے نرخوں میں کمی

سعودی گولڈ مارکیٹ میں منگل کو سونے کے نرخ میں کمی ریکارڈ کی گئی ہے ۔ عالمی مارکیٹ کااثرسعودی عرب پر بھی پڑا ہے۔ 
عاجل ویب سائٹ کے مطابق  چوبیس قیراط ایک گرام سونا 209.18 ریال میں فروخت ہواجبکہ 21 قیراط ایک گرام سونا 183.03 ریال میں دستیاب رہا۔

اٹھارہ قیراط ایک گرام سونے کی قیمت 156.89 ریال ریکارڈ کی گئی جبکہ 14 قیراط ایک گرام سونے کے نرخ 122.02 ریال رہے۔
سعودی گولڈ مارکیٹ میں ایک اونس سونے کی قیمت  6510 ریال  تک ہوگئی جبکہ 21 قیراط کا 8 گرام سونے کا بسکٹ 1464.27 ریال  میں دستیاب رہا۔ 
عالمی مارکیٹ  میں پیر کو ڈالر، امریکی بانڈز اور وال سٹریٹ میں شیئرز میں سرمایہ کاروں کی دلچسپی کے باعث سونے کے نرخ کم ہوگئے تھے۔
سونے کے فوری سودوں میں 0.28 فیصد کمی ہوئی۔ ایک اونس سونے کی قیمت پیر کو عالمی مارکیٹ میں 1739.60 ڈالر پر آکر رک گئی تھی جبکہ اس سے قبل نرخوں میں گراوٹ ایک فیصد تک ہوگئی تھی۔
