Giá vàng thế giới, chứng khoán Mỹ cùng đi xuống

Đôla tăng giá khiến kim loại quý đi xuống, trong khi Wall Street bị kéo tụt do lo ngại Covid-19 lây lan nhanh trên toàn cầu.

Chốt phiên giao dịch 23/3, giá vàng giao ngay thế giới giảm 12 USD về 1.727 USD một ounce. Nguyên nhân là đồng đôla lên đỉnh 2 tuần, lấn át tác động từ lợi suất trái phiếu chính phủ Mỹ giảm. Phiên sáng nay, giá hiện vẫn xoay quanh mốc này.

Giá đôla Mỹ hôm qua lên cao nhất kể từ ngày 9/3. Trong khi đó, lợi suất trái phiếu chính phủ Mỹ đi xuống. Đồng bạc xanh tăng giá khiến chi phí nắm giữ vàng bằng tiền tệ khác cao lên.

"Kim loại quý sẽ phải vượt lên trên mốc trung bình trượt 50 ngày để thoát xu hướng giảm hiện tại, đặc biệt khi đồng đôla đang phục hồi", Han Tan - nhà phân tích thị trường tại FXTM cho biết.

Dù vậy, việc Fed ra tín hiệu duy trì lãi suất thấp và khả năng có thêm kích thích tiền tệ đang chặn lại đà giảm giá của vàng. Thị trường cũng có thể được hỗ trợ nhiều hơn trong bối cảnh số ca nhiễm mới Covid-19 tăng vọt và sự lạc quan về kinh tế giảm sút.

Trên thị trường chứng khoán Mỹ, các chỉ số chính hôm qua cũng đi xuống. S&P 500 mất 0,8% về 3.910 điểm, do sức ép từ nhóm cổ phiếu công nghiệp và nguyên vật liệu. DJIA giảm 0,9% còn 32.423 điểm. Nasdaq Composite mất 1,1% về 13.227 điểm.

Nhóm lữ hành và bán lẻ bị bán tháo do các lệnh hạn chế mới trên toàn cầu. Cổ phiếu hãng điều hành du thuyền Carnival và Norwegian lao dốc hơn 7%. American Airlines và United Airlines mất hơn 6%. Hãng bán lẻ Gap giảm gần 8%.

Tổ chức Y tế Thế giới (WHO) cho biết phần lớn khu vực trên toàn cầu đang chứng kiến số ca nhiễm mới tăng trở lại, do các biến chủng lây nhiễm nhanh. Đức đã kéo dài phong tỏa đến ngày 18/4. Giá dầu thô cũng mất hơn 6% hôm qua trước lo ngại làn sóng lây nhiễm thứ 3 trên toàn cầu.
