利昂内尔·安德烈斯·“莱奥”·梅西·庫西提尼（西班牙語：Lionel Andrés "Leo" Messi Cuccittini，西班牙語發音：[ljoˈnel anˈdɾes ˈmesi] （关于这个音频文件 聆聽）；1987年6月24日－），简称梅西，生于阿根廷圣菲省罗萨里奥，擁有加泰罗尼亚及意大利血統[2]，現時效力於西班牙甲組足球聯賽豪門球隊巴塞隆拿 ，同時擔任阿根廷國家足球隊及巴塞隆拿足球隊隊長。場上主要擔任翼鋒，也可以擔任前鋒並回撤為進攻中場，目前他共獲得10次西甲聯賽冠軍、4次歐冠冠軍、6座歐洲金靴獎、6次歐聯神射手、6座金球獎及6次FIFA國際世界足球先生，他是世界足壇歷史上最偉大的傳奇球王及超級巨星之一，阿根廷足球歷史上的傳奇球王，他和C朗一直處於世界足壇的巔峰水準。

美斯13岁时加入巴塞隆拿青訓營拉瑪西亞，出道至今職業生涯一直效力巴塞罗那，並隨隊橫掃多項賽事冠軍，包括四次歐洲聯賽冠軍盃冠軍和十屆西班牙甲組聯賽冠軍，獲得輝煌的球會成就，同時打破諸多紀錄。美斯和C朗被媒體、名宿和球迷廣泛認定為世界球壇有史以来最伟大的球员之一[3][4][5][6][7][8]，美斯亦被球王馬勒當拿視為“完美接班人”[9]。

2009年，美斯以主力射手身份協助巴塞罗那連獲西甲聯賽、西班牙國王盃、歐洲聯賽冠軍盃三項冠軍，成為西班牙足球史上第一支三冠王球隊。接著參加下半年的三項專屬於冠軍之間的賽事，再度榮獲西班牙超級盃、歐洲超級盃、以及世界冠軍球會盃三大錦標，協助巴塞隆拿完成世界足壇创纪录的首次「六冠王」偉業。2011年，梅西協助巴塞罗那再奪得五項冠軍，成為該年的「五冠王」。

2010年、2011年和2012年，梅西連續取得首三屆國際足協金球獎，加上2009年获得的与国际足联FIFA合并前的金球奖，梅西創紀錄地連續四年獲此殊榮。

2014年，美斯與内马尔和路爾斯·艾拔圖·蘇亞雷斯組成「MSN組合」。 2015年，梅西協助巴塞罗那再奪得五項冠軍，成為該年的「五冠王」，並再獲國際足協金球獎，成為歷史上首位奪下五屆金球獎和世界足球先生（不論合併前後）的球員[5][10][11]。2014-2015球季，「MSN組合」總共攻入122球，公認為史上最強大恐怖的鋒線組合。協助巴塞隆納成為史上第一支兩奪五冠王的球隊。

2011年，美斯以24歲之齡成為巴塞罗那足球會歷史上，在正式比賽中入球數最多的球員[6][12]。至今，美斯已在巴塞罗那攻入602球[13]，保有歐洲聯賽為單一球會入球的紀錄。他亦是西甲兼歐洲單一聯賽歷史上入球（419）最多的球員[14]，2019年美斯成為唯一突破西甲兼歐洲單一聯賽400進球的球員[15]，而且西甲助攻量（162）也是史上之最。美斯目前為巴萨和阿根廷上場的816場比賽中，不但進了668球，連助攻次數也有271次，没有球員能達到這個助攻數量，證明梅西也是大師級中场。

國家隊方面，27歲的美斯以隊長身份帶領阿根廷隊在2014年世界盃過關斬將，連續四場成為全場最佳球員，阿根廷隊決賽戰至加時僅敗於德國隊，屈居亞軍。梅西賽後獲頒世界盃金球獎[16]。

2016年美洲國家盃決賽裏，智利互射十二碼擊敗阿根廷，梅西不幸踢失，2014年世界杯和2015年美洲杯以及2016年美洲國家盃連續三次與國家隊冠軍擦身而過的沉痛打擊讓梅西賽後宣布退出國家隊，引發阿根廷舉國上下挽留，新教練親赴巴塞隆納游說，總統更親自致電慰留。2016年8月中旬，梅西宣佈回歸國家隊并将参与2018年世界盃的比赛。只不過在這屆世盃中，於16強僅以3-4敗於該屆世界盃冠軍的法國。

2019年，加泰羅尼亞政府為表揚他對宣揚當地文化、社會、慈善、青少年發展、醫療的卓越貢獻，授予最高榮譽之一的聖佐迪十字勳章。2019年，梅西獲得生涯第六次國際足總最佳男子球員獎、金球獎與歐洲金靴獎，成為歷史上唯一一位奪下六屆的球員。[7][8][17][18]

2019年，根據《福布斯》公佈的全球運動員收入排行榜，美斯以年收入1.27億美元，排名第1名[19]。 2020年劳伦斯世界体育奖在德国柏林举行。梅西、汉密尔顿共同当选年度最佳男运动员，历史第一位奪得該獎項的足球運動員。

2020年6月30日，梅西在對馬德里競技的西甲比賽中射入一球十二碼，亦是他職業生涯第700個入球。

美斯於1987年6月24日出生在阿根廷羅薩里奧，父親豪爾赫·美斯（Jorge Messi）是一位鋼鐵工廠經理，擁有意大利和西班牙加泰隆尼亞的血統，母親塞莉娅·库奇蒂尼（Celia Cuccittini）在磁鐵製造場工作，祖先來自義大利。美斯在家中排行第三，有兩個哥哥羅德里戈（Rodrigo）和馬蒂亞斯（Matías），以及一個妹妹瑪麗亞（Maria Sol）。美斯成長在一個喜愛足球的家庭，他從很小的時候就展現出對足球的熱情，常與哥哥們和表兄弟一起踢足球，他的兩個表兄弟馬克西米拉諾（Maximilano）和伊曼紐爾（Emanuel Biancucchi）也是職業足球員。4歲時，美斯加入了當地球會Grandoli，由他的父親擔任教練。美斯最早的啟蒙者是他的外祖母塞莉娅（Celia），常在美斯訓練和比賽時陪伴著他，後在美斯11歲生日前過世，身為一個虔誠的天主教徒，美斯在每一次進球慶祝時都會仰頭並將手指指向天空，紀念他的祖母。

作為一個纽韦尔老男孩的忠實球迷，美斯加入了他們的少年隊。在他11歲時被医生诊断出患有荷尔蒙生长素分泌不足的生長激素缺乏症[20]，美斯一家無法長期負擔高額的治療費用，纽韦尔老男孩只同意每个月为美斯支付400美元，再加上當時的阿根廷正處於經濟困局[21]。加基奧利是美斯首位經理人，他讓美斯加盟了巴塞隆納。加基奧利談及美斯，「首先球會要幫他繼續治療生長疾病，費用很昂貴。其次，球會還要給美斯父親安排工作。我們聯繫過皇家馬德里和馬德里體育會，但都沒有結果，最終他去了巴塞。我在西班牙接美斯看他走下飛機時，我張大了嘴非常吃驚。當時我認為他太瘦弱了，他會面對很多挫折。」[22]於是梅西家人於2000年舉家遷到西班牙，當時13歲的梅西身高只有1.4米（約4尺7吋）。

移居西班牙
搬到西班牙後，梅西開始融入當地生活，其後加盟了西甲班霸巴塞罗那，他們承諾替梅西提供治療費用（約每月10000美元），並讓其得到青訓練習的機會。随后巴塞罗那支付了梅西治疗所需的全部费用，效果也是显著的。2001年11月，接近一年的治疗让梅西的身高增加了16厘米，体重增加了9公斤；但在巴塞罗那，梅西仍然只能参加训练，不可以参加正式比赛。因为对梅西父亲带走梅西不满，紐維爾舊生體育會主席拒绝出示转会证明。一直到2002年2月15日，在国际足联的干预下，梅西才在西班牙足协正式注册成为拉馬西亞（巴塞罗那俱乐部的青训营）球员[23]。

2002-03赛季，梅西所在级别的球队中还有中卫皮克和中场法布雷加斯，梅西在30场比赛中打入37球，成为该赛季的最佳球员和最佳射手[24]。


巴塞隆拿
2003年10月14日，已经年满16岁的梅西与巴萨签订了人生中第一份职业合同：合同截至2012年，毁约金高达3000万欧元，同年的11月15日，時任巴塞罗那主帥里杰卡尔德将梅西召入次日与波尔图友谊赛的大名单，梅西在第75分钟替补出场[25]。

在2003年-04年球季，他為巴塞隆拿B隊參賽，整季上陣5場，可是並沒有入球。

梅西於2004年10月16日正式為巴塞羅那一隊上場作賽，打破了最年轻在西甲比赛的巴萨球员的纪录[26]。2005年5月1日在聯賽中對阿爾巴塞特中由朗拿甸奴助攻攻入西甲聯賽第一個入球，以17歲10个月零7天打破了球會最年輕入球者的紀錄[27]。　2004-05赛季，梅西参加了9场联赛。

梅西在2005年的世青盃出現轉捩點，梅西在該屆比賽中大放異彩，共射入6球，其中兩球更是於決賽中攻入，最終不僅協助國家隊歷史上第五次封王，更奪得該屆賽事的神射手與最有價值球員獎項[28]。

